@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-image: url("../images/tatami02-768x480.jpg");
}

#container {
	margin: 0 auto;
	width: 432px;
}

.paragraph {
	display: flex;
}

.masu {
	width: 48px;
	height: 55px;
	border: solid 1px #000000;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.koma {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.koma > img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

.selected {
	background: skyblue;
}

.placeable {
	background: yellow;
}

.motigoma {
	display: flex;
	width: 432px;
	height: 55px;
	margin: 0 auto;
}

.koma1 {
	width: 46px;
	height: 53px;
	border: 1px solid transparent;
	cursor: pointer;
}

.koma2 {
	width: 46px;
	height: 53px;
	border: 1px solid transparent;
	cursor: pointer;
}

#ban1,#ban2,#ban5,#ban6,#ban3,#ban4,#ban7,#ban8,.ban {
	width: 432px;
	height: 495px;
	border: 1px solid #000;
	background-image: url("../images/mokuzai.jpg");
	box-shadow:4px 4px #555;
}

#settei {
	text-align: center;
}

#hanntei {
	float: left;
	width: 42px;
	height: 42px;
	font-size: 42px;
	margin-left: 50px;
}

.button {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	border: solid 1px #000;
	border-radius: 10px;
	cursor: pointer;
}

.motigoma2 {
	height: 71px;
}

.motigoma1 {
	height: 71px;
}

.motigoma div {
	display: inline-block;
}

.koma1.ou {
	background: url(../images/syougi_koma01_z_01.png);
	background-size: 46px 53px;
}

.koma1.kaku {
	background: url(../images/syougi_koma01_z_02.png);
	background-size: 46px 53px;
}

.koma1.uma {
	background: url(../images/syougi_koma01_z_03.png);
	background-size: 46px 53px;
}

.koma1.hisya {
	background: url(../images/syougi_koma01_z_04.png);
	background-size: 46px 53px;
}

.koma1.ryuu {
	background: url(../images/syougi_koma01_z_05.png);
	background-size: 46px 53px;
}

.koma1.kinn {
	background: url(../images/syougi_koma01_z_06.png);
	background-size: 46px 53px;
}

.koma1.ginn {
	background: url(../images/syougi_koma01_z_07.png);
	background-size: 46px 53px;
}

.koma1.nariginn {
	background: url(../images/syougi_koma01_z_08.png);
	background-size: 46px 53px;
}

.koma1.kei {
	background: url(../images/syougi_koma01_z_09.png);
	background-size: 46px 53px;
}

.koma1.narikei {
	background: url(../images/syougi_koma01_z_10.png);
	background-size: 46px 53px;
}

.koma1.kyou {
	background: url(../images/syougi_koma01_z_11.png);
	background-size: 46px 53px;
}

.koma1.narikyou {
	background: url(../images/syougi_koma01_z_12.png);
	background-size: 46px 53px;
}

.koma1.hu {
	background: url(../images/syougi_koma01_z_13.png);
	background-size: 46px 53px;
}

.koma1.tokinn {
	background: url(../images/syougi_koma01_z_14.png);
	background-size: 46px 53px;
}

.koma1.gyoku {
	background: url(../images/syougi_koma01_z_15.png);
	background-size: 46px 53px;
}


.koma2.ou {
	background: url(../images/Gsyougi_koma01_z_01.png);
	background-size: 46px 53px;
}

.koma2.kaku {
	background: url(../images/Gsyougi_koma01_z_02.png);
	background-size: 46px 53px;
}

.koma2.uma {
	background: url(../images/Gsyougi_koma01_z_03.png);
	background-size: 46px 53px;
}

.koma2.hisya {
	background: url(../images/Gsyougi_koma01_z_04.png);
	background-size: 46px 53px;
}

.koma2.ryuu {
	background: url(../images/Gsyougi_koma01_z_05.png);
	background-size: 46px 53px;
}

.koma2.kinn {
	background: url(../images/Gsyougi_koma01_z_06.png);
	background-size: 46px 53px;
}

.koma2.ginn {
	background: url(../images/Gsyougi_koma01_z_07.png);
	background-size: 46px 53px;
}

.koma2.nariginn {
	background: url(../images/Gsyougi_koma01_z_08.png);
	background-size: 46px 53px;
}

.koma2.kei {
	background: url(../images/Gsyougi_koma01_z_09.png);
	background-size: 46px 53px;
}

.koma2.narikei {
	background: url(../images/Gsyougi_koma01_z_10.png);
	background-size: 46px 53px;
}

.koma2.kyou {
	background: url(../images/Gsyougi_koma01_z_11.png);
	background-size: 46px 53px;
}

.koma2.narikyou {
	background: url(../images/Gsyougi_koma01_z_12.png);
	background-size: 46px 53px;
}

.koma2.hu {
	background: url(../images/Gsyougi_koma01_z_13.png);
	background-size: 46px 53px;
}

.koma2.tokinn {
	background: url(../images/Gsyougi_koma01_z_14.png);
	background-size: 46px 53px;
}

.koma2.gyoku {
	background: url(../images/Gsyougi_koma01_z_15.png);
	background-size: 46px 53px;
}

.hintDisplay {
	background-color: pink;
}

.noHintDisplay {
	background-color: gray;
}

.koma.droppable {
	background-color: yellow;
}

.koma uma {
	background-color: yellow;
}